@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Orbitron:wght@700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 
::-webkit-scrollbar
{
	width: 12px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent,#EF4B4C);
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent,#3E619B);
}
nav{
  z-index: 1;
  display: flex;
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  background-color: #fff;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 60px;
  flex-wrap: wrap;
}
nav .logo a{
  color: #3E619B;
  text-decoration: none;
  font-family: 'Orbitron', sans-serif;
  font-size: 35px;
  font-weight: 600;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  font-family: 'Orbitron', sans-serif;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: #3E619B;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Orbitron', sans-serif;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
  color: #fff;
  background: #EF4B4C;
}
nav .menu-btn i{
  color: #EF4B4C;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
/* @media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
} */

@media (max-width: 1027px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{

    position: fixed;
    top: 80px;
    left: -100%;
    background: #42506B;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    color:#fff;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
    font-family: 'Orbitron', sans-serif;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: #EF4B4C;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 600px){
    nav{
        z-index: 1;
        display: flex;
        height: 80px;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 0 50px 0 30px;
        flex-wrap: wrap;
      }

    nav .logo a{
    color: #3E619B;
    font-size: 20px;
    font-weight: 600;
    }
}


@media only screen and (min-device-width: 200px) and (max-device-width: 375px){
    nav{
        z-index: 1;
        display: flex;
        height: 80px;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 0 50px 0 20px;
        flex-wrap: wrap;
      }

    nav .logo a{
    color: #3E619B;
    font-size: 18px;
    font-weight: 600;
    }
}

.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
  width: 100%;
  padding: 0 30px;
  color: #fff;
}
.content div{
  font-size: 40px;
  font-weight: 700;
}

.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}


/* ..... */


.img1{
    width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
}
.img1 img{
  margin-top: 35px;
}
.img-fluid{
    max-width: 50%;
    height: auto;
}
.card1{
    width:90%;
    margin: 10px auto;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 7px rgba(170, 170, 170, 1);
    padding: 30px;
}
.title{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    padding-top: 30px;
    font-size: 40px;
    color: #3E619B;
}

.content1{
    font-size: 30px;
    text-align: center;
    color: #5b5b5b;
    font-family: 'Poppins', sans-serif;
}


.container1{
    width: 90%;
    display: flex;
    justify-content: space-around;
}

.img3-container{
    width: 40%;
    padding-top: 100px;
    padding-left: 50px;
}
.img2-container{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.img2{
    max-width: 40%;
    margin-bottom: 70px;
}

.img3{
    max-width: 80%;
    margin-left: 100px;
}

.reverse{
    margin-bottom: 40px;
}
.content2{
    font-size: 30px;
    color: #5b5b5b;
    font-family: 'Poppins', sans-serif;
}

.container2{
  margin-top: 30px;
}

.container2 .content3{
  width: 100%;
  height: auto;
  background-color: #3E619B;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  padding: 100px;
  font-size: 30px;
}
 
a{
  text-decoration: none;
}

.container3{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
} 


.box{
  position: relative;
  min-width: 250px;
  background-color: #fff;
  box-shadow: 2px 3px 30px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px;
  position: relative;
  border-radius: 10px;
}


.top-bar{
  width: 50%;
  height: 4px;
  background: #EF4B4C;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0px 0px 10px 10px;
}

.top{
  display: flex;
  justify-content: space-between;
  align-items:center ;
  width: 100%;
}

.fa-check-circle{
  color: #17b667;
}


.content4 img{
  width: 150px;
  height: 150px;
  border-radius:100px;
  overflow: hidden;
  object-fit: cover;
  object-position: top;
}
.content4{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #5b5b5b;
}
.content4 strong{
  font-weight: 700;
  color: #141414;
  margin-top: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
.content4 p{
  font-size: 18px;
  color: #EF4B4C;
  margin: 4px 0px 10px 0px;
  font-family: 'Montserrat', sans-serif;
}



/* ..... */
.footer{
	background-color: #24262b;
    padding: 70px 0;
    position: relative;
    bottom:0;
    margin-top: 50px;
    width:100%;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #EF4B4C;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/* /responsive/ */

@media (max-width: 1080px){
  .img3-container{
    display: none;
  }
}

@media (max-width: 1140px){
  .card1 .content1{
    font-size: 20px;
    text-align: center;
  }
  .container1 .content2{
    font-size: 1.5rem;
    text-align: center;
  }
  .container2 .content3{
    font-size: 1.5rem;
    padding: 50px;
  }
}

@media(max-width: 800px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
.title{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    font-size: 2rem;
}
.content1{
    font-size: 1.5rem;
    text-align: center;
}

.content2{
    font-size: 1.5rem;
    text-align: center;
}
.container2 .content3{
  font-size: 1.5rem;
  padding: 50px;
}
.img2{
    max-width: 70%;
    margin-bottom: 70px;
}

.img2-container{
    width: 100%;
    padding: 20px;
}
.img3-container{
    display: none;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
.img1{
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}
.content1{
    font-size: 1.5rem;
    text-align: center;
}
.content2{
    font-size: 1.5rem;
    text-align: center;
}
.container2 .content3{
  font-size: 1.5rem;
  padding: 50px;
}
.img2{
    max-width: 70%;
    margin-bottom: 70px;
}
.img2-container{
    width: 100%;
    padding: 20px;
}
.img3-container{
    display: none;
}
}
@media(max-width: 500px){
    .title{
        font-size: 20px;
    }
    .content4 strong{
        font-size: 18px;
    }
    .content4 p{
        font-size: 15px;
    }
  .img1 img{
    max-width: 50%;
  }
  .card1 .title{
      font-size: 20px;
  }
  .card1 .content1{
      font-size: 14px;
  }
  .container1 .content2{
    font-size: 14px;
  }
  .container2 .content3{
    font-size: 14px;
    padding: 50px;
  }
  .img2{
      position: relative;
      top: 30px;
  }
  .img2-container .img2{
      max-width: 80%;
  }
 .img2-container p{
      font-size: 14px;
  }
}